@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gallient';
  src: url('../font/Gallient.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url('../font/Inter_Regular.ttf');
}
